.container{
    display: flex;
    justify-content: center;
    margin-top: 250px;
}
button{
    width: 200px;
    height:30px;
    border-radius: 20px;
    background-color: whitesmoke;
    color: red;
}
